/*font-family: 'Libre Baskerville', serif;
font-family: 'Open Sans', sans-serif;*/

h1{
    font-family: 'Libre Baskerville', serif;
    color: #2aabd2;
}
p{
    font-family: 'Open Sans', sans-serif;
}