{% extends 'bootstrap/base.html' %}

        {% block title %}
        {% if title %}
       {{ title }} - Laura E. Richard’s Library
        {% else %}
        {{ title }} - Welcome to Laura E. Richard’s Library
        {% endif %}
        {% endblock %}

<!-----------------------------------old navbar------------------------------------>
{% block navbar %}
        <nav class="navbar navbar-expand-lg bg-danger">
          <a class="navbar-brand" href="{{ url_for('index') }}">Laura E. Richard’s Library</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="{{ url_for('forums') }}">Forums</a>
              <a class="nav-link" href="#">Contact</a>
            </div>
          </div>
        </nav>
{% endblock %}
<!-----------------------------------end old navbar------------------------------------>


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>

            {% endfor %}
        {% else %}
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

