{% extends "base.html" %}

{% block content %}
<h1>The Book Club Forum</h1>
<h3>Continue a discussion on any of the books below, or start your own!</h3>
<button type="button" class="btn btn-danger btn-lg text-center">Create Discussion</button>
<br>
<button type="button" class="btn btn-secondary btn-lg btn-block">General Discussion</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">The Ultimate Hitchhiker's Guide</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">The Simarillion</button>

{% endblock %}